doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    script(type='text/javascript',href='/node_modules/angular/angular.js')
    block content
