extends layout

block content
	h1.
		User
	p
		//- Need to set the form to post and have input hidden value of put
		form#formEditUser(name="editlogin", action="/users/#{id}", method="post")
			input(type="hidden", name="_method", value="put")
			#{id}
			input#inputUserName(type="text", name="login", value="#{login}")
			button#btnSubmit(type="submit") Update
		form(name="dellogin", action="/users/#{id}", method="post")
			input(type="hidden", name="_method", value="delete")
			button#btn(type="submit") Delete